<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Рандомна сторінка | <%= title %></title>
    <link rel="stylesheet" href="styles/post.css">
</head>
<body>
    <header>
        <%- include('./partials/nav.ejs')%>
        <h1>Деталі поста</h1>
    </header>
    <main>
        <article>
            <h2>Заголовок поста</h2>
            <p><strong>Автор:</strong> Ім’я Автора</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nisi obcaecati repellat, hic aliquam vel modi asperiores dignissimos saepe velit, eum recusandae quam nesciunt. Deserunt, molestiae officiis. Ab, debitis! Maiores architecto quos eum aperiam impedit! Laborum magnam eligendi optio esse omnis obcaecati, accusamus labore quibusdam inventore sit architecto praesentium non?</p>
        </article>
    </main>
    <footer>
        <p>&copy; 2025 Блог</p>
    </footer>
</body>
</html>